.image-slider-div{
    background:linear-gradient(to left, red  , blue ,  yellow  , azure   );
}

.image-slider-div {
    display: flex;
    justify-content: center;
    align-items: center;
     margin:  auto;
     height: 80vh;
     width: 90vw;
}
.image{
    width: 50%;
    height: 100%;
    border-radius: 50%;
}
.button{
    height: 30px;
    width: 45px;
    border-radius: 5px;
    background-color: rgb(121, 212, 248);
    color: brown;
    border: .5px solid brown;
}
.button:hover{
   transform: scale(1.1);
   background-color: black;
   color: skyblue;
   box-shadow: inset 1px 1px 5px skyblue;
}


 